*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    
}
.top{
    /* border: 1px solid; */
    margin: 10px 70px;
    display: flex;
    align-items: center;
}
.top h2{
    color: rgb(0, 136, 255);
    font-size: 40px;
}
span{
    color: red;
    font-size: 20px;
    font-weight: 600;
}
.top-menu {
    display: flex;
    margin-left: 150px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.top-menu li{
    margin-left: 100px;
}
.top-menu li a{
    color: #2E4057;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.top-menu .menu-logo a{
    margin-left: 150px;
    color: #DA4167;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.menu-logo:hover{
    color: black;
}
.menu-logo .badge{
    position: absolute;
    top: -10px;
   
    padding: 5px 10px;
    border-radius: 50%;
    background: #eaeaec;
    color: rgb(3, 3, 3);
    font-size: 15px;
}
.mid{
    /* border: 1px solid; */
    height: 89.5vh;
    display: flex;
}

.left{
    background: rgb(206, 194, 194);
    height: 89vh;
    width: 70%;
    display: flex;
    justify-content: center;
}
.blank{
    background: #F7CB15;
    height: 60vh;
    width: 40%;
}
.right{
    /* border: 1px solid; */
    width: 60%;
    background: #6d6d6d;
    display: flex;
}
.right img{
    margin-left: -450px;
    height: 700px;
    width: 600px;
    margin-top: -70px;
}
.blank h2{
    margin-top: 50px;
    margin-left: -150px;
    font-size: 100px;
    font-family: 'Exo 2', sans-serif;
}
.blank h3{
    margin-top: 40px;
    margin-left: -60px;
    font-size: 100px;
    font-family: 'Exo 2', sans-serif;
}
.buttons{
    border: 1px solid;
    margin-top: 70px;
    margin-left: -100px;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 130px 105px 280px 225px;
}
.buttons button{
    height: 80px;
    width: 80px;
    border: none;
    background: black;
    color: aliceblue;
    border-radius: 50%;
}
.number-char{
    color: #DA4167;
    font-size: 100px;
}
.search{
    margin-top: 20px;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 20px 10px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

}
.search a{
    text-decoration: none;
    
}
.search:hover input{
    width: 250px;

}
.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.search a .ri-search-line{
    color: #000000;
    font-size: 25px;
}
.login{
    /* border: 1px solid; */
    margin-left: 350px;
    margin-top: 20px;
    position: fixed;
    right: 60px;
    
}
.login a {
    font-size: 30px;
    color: #0077ff;
    text-decoration: none;
    
}