*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    
}
.top{
    /* border: 1px solid; */
    margin: 10px 70px;
    display: flex;
    align-items: center;
}
.top h2{
    color: rgb(0, 136, 255);
    font-size: 40px;
}
span{
    color: red;
    font-size: 20px;
    font-weight: 600;
}
.top-menu {
    display: flex;
    margin-left: 150px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.top-menu li{
    margin-left: 100px;
}
.top-menu li a{
    color: #2E4057;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.top-menu .menu-logo a{
    margin-left: 150px;
    color: #DA4167;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
.menu-logo:hover{
    color: black;
}
.menu-logo .badge{
    position: absolute;
    top: -10px;
   
    padding: 5px 10px;
    border-radius: 50%;
    background: #eaeaec;
    color: rgb(3, 3, 3);
    font-size: 15px;
}
.mid{
    /* border: 1px solid; */
    height: 89.5vh;
    display: flex;
}

.left{
    background: rgb(206, 194, 194);
    height: 89vh;
    width: 70%;
    display: flex;
    justify-content: center;
}
.blank{
    background: #F7CB15;
    height: 60vh;
    width: 40%;
}
.right{
    /* border: 1px solid; */
    width: 60%;
    background: #BEB7A4;
    display: flex;
}
.right img{
    margin-left: -300px;
    height: 700px;
    width: 500px;
    margin-top: -70px;
}
.blank h2{
    margin-top: 50px;
    margin-left: -150px;
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}
.blank h3{
    margin-top: 40px;
    margin-left: -60px;
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}
.buttons{
    border: 1px solid;
    margin-top: 70px;
    margin-left: -100px;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 130px 105px 280px 225px;
}
.buttons button{
    height: 80px;
    width: 80px;
    border: none;
    background: black;
    color: aliceblue;
    border-radius: 50%;
    transition: width 1s, height 1s ease-in-out;
}
.buttons button:hover{
    transition: width 1s, height 1s ease-in-out;
    height: 90px;
    width: 90px;
}
.number-char{
    color: #DA4167;
    font-size: 100px;
}
.search{
    margin-top: 20px;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 20px 10px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);

}
.search a{
    text-decoration: none;
    
}
.search:hover input{
    width: 250px;

}
.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.search a .ri-search-line{
    color: #000000;
    font-size: 25px;
}
.login{
    /* border: 1px solid; */
    margin-left: 350px;
    margin-top: 20px;
    position: fixed;
    right: 60px;
    background: #fff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.login a {
    font-size: 30px;
    color: #0077ff;
    text-decoration: none;
    
    
}
.login:hover{
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}
.man-hoody{
    margin-top: 160px;
}
.top-texts{
    /* border: 1px solid; */
    width: 100%;
    position: fixed;
    left: 990px;
    background: #DA4167;
    height: 20%;
}
.top-texts h3{
    word-spacing: 10px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-left: -50px;
    font-weight: 400;
}
.top-texts h4{
    
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin-left: -50px;
    font-weight: 360;
}
.arrow{
    margin-top: 16px;
    list-style: none;
    margin-left: -47px;
}
.arrow a{
    text-decoration: none;
    color: rgb(255, 43, 5);
    font-weight: 100;
}
.arrow a .ri-arrow-right-line{
    margin-left: 10px;
    color: #000000;
}
.last{
    /* border: 1px solid; */
    width: 77%;
    height: 40vh;
    margin-top: 350px;
    margin-left: -100px;
    display: flex;
}
.scroll{
    /* border: 1px solid red; */
    width: 40%;
    background: #2E4057;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scroll h3{
    font-size: 12px;
    margin-top: 10px;
    color: #eaeaec;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.scroll h4{
    font-size: 12px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #eaeaec;
    font-weight: 300;
}
.suit{
    /* border: 1px solid red; */
    width: 60%;
    background: #fff;
   
}
.scroll li{
    list-style: none;
    margin-top: 10px;
}
.scroll li a{
    text-decoration: none;
    color: #eaeaec;
    font-size: 29px;
    
}
.content-text{
   
    margin-top: 40px;
    margin-left: 30px;
}
.content-text h3{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px;
}
.content-text h4{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 8px;
}
.content-text h5{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 8px;
}
.pricing{
    margin-left: 30px;
    display: flex;
    margin-top: 18px;
    
}
.pricing p{
    font-family: 'Open Sans', sans-serif;
    
}
.pricing p strike{
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    color: #DA4167;
}
.view{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.view li a{
    list-style: none;
    text-decoration: none;
    color: #006eff;
    font-size: 20px;
}
.view li{
    list-style: none;
  
}
.view .ri-arrow-right-line{
    color: #DA4167;
}
